<div class="row ">
  <div class="new-session">
    <div class="offset-md-4 col-md-4">
      <h2 class="text-center"><%= t('sorcery.log_in') %></h2>
      <%= simple_form_for @admin, url: login_path do |f| %>
        <%= f.input :email %>
        <%= f.input :password %>

        <div class="text-center">
          <%= f.submit 'Go', class: 'btn btn-default-dark' %>
        </div>
      <% end %>
    </div>

  </div>
</div>
