<div class="row">
  <div id="portfolio-page">
    <div class="col-md-12">
      <h2 class="text-center"><%= @portfolio.title %></h2>
      <p class="text-center"><%= @portfolio.description %></p>
    </div>
    <div class="col-sm-12" id="projects-section">
      <div class="row">
        <% @portfolio.projects.each do |project| %>
          <div class="col-6 col-md-3 project-preview">
            <%= link_to project_path(project) do %>
              <div class="overlay">
                <h3 class="text-center"><%= project.title %></h3>
              </div>
            <% end %>
            <%= image_tag project.photos.first.image.url(:thumb), class: 'img-fluid', alt: project.photos.first.alt if project.photos.any? %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
