<%= image_tag @photo.image.url(:thumb), class: 'img-fluid' %>
<div class="change-controls">
  <%= simple_form_for @photo, url: admin_project_photo_path(@photo), html: { autocomplete: 'off' }, remote: true do |f| %>
    <%= f.input :image, as: :file, label: false %>
    <%= f.input :alt, label: false, placeholder: 'Alt text' %>
    <%= f.submit 'Update', class: 'btn btn-photo-dark btn-processable' %>
    <%= link_to 'Cancel', admin_project_photo_path(@photo), remote: true, class: 'btn btn-photo-dark' %>
  <% end %>
</div>
