<!-- <div class="row photo-new" id="photo-<%= @photo.id %>">
  <div class="col-12 col-sm-5 col-lg-4">
    <%= image_tag 'default_image.png', class: 'img-fluid' %>
  </div>
  <div class="col-12 col-sm-7 col-lg-8">
    <%= simple_form_for @photo, url: admin_project_photos_path(photo_id: @photo.id), html: { autocomplete: 'off' }, remote: true, authenticity_token: true do |f| %>
      <%= f.input :image, as: :file %>
      <%= f.input :alt, label: false, placeholder: 'Alt text' %>
      <%= f.submit 'Create', class: 'btn btn-default-light btn-processable' %>
      <%= link_to 'Cancel', admin_project_remove_new_photo_path(photo_id: @photo.id), method: :delete, remote: true, class: 'btn btn-default-light' %>
    <% end %>
  </div>
</div> -->

<div id="photo-<%= @photo.id %>" class="photo-new col-6 col-sm-6 col-md-4 col-lg-3">
  <%= image_tag 'default_image.png', class: 'img-fluid' %>
  <div class="change-controls">
    <%= simple_form_for @photo, url: admin_project_photos_path(photo_id: @photo.id), html: { autocomplete: 'off' }, remote: true, authenticity_token: true do |f| %>
      <%= f.input :image, as: :file, label: false %>
      <%= f.input :alt, label: false, placeholder: 'Alt text' %>
      <%= f.submit 'Create', class: 'btn btn-photo-dark btn-processable' %>
      <%= link_to 'Cancel', admin_project_remove_new_photo_path(photo_id: @photo.id), method: :delete, remote: true, class: 'btn btn-photo-dark' %>
    <% end %>
  </div>
</div>
