<nav class="nav nav-pills flex-column">
  <%= link_to 'Dashboard', admin_dashboard_path, class: "nav-link #{is_active?('admin/dashboard')}" %>
  <%= link_to 'Hero carousel', admin_hero_carousel_slides_path, class: "nav-link #{is_active?('admin/hero_carousel_slides')}" %>
  <%= link_to 'About me section', admin_about_path, class: "nav-link #{is_active?('admin/abouts')}" %>
  <%= link_to 'Instagram section', admin_instagram_path, class: "nav-link #{is_active?('admin/instagrams')}" %>
  <%= link_to 'Portfolio page', admin_portfolio_path, class: "nav-link #{is_active?('admin/portfolios')} #{is_active?('admin/projects')}" %>
  <%= link_to 'Opinions', admin_opinions_path, class: "nav-link #{is_active?('admin/opinions')}" %>
  <%= link_to 'Contact page', admin_contact_path, class: "nav-link #{is_active?('admin/contacts')}" %>
  <%= link_to 'Account', admin_account_path, class: "nav-link #{is_active?('admin/account')}" %>
</nav>
