<div class="row">
  <footer>
    <div class="col-sm-12">
      <h2 class="footer-brand">
        <%= link_to root_path do %>
          <%= @setting ? @setting.webpage_title : 'PHOTO WEBPAGE' %>
        <% end %>
      </h2>
      <div class="contacts">
        <% if @setting %>
          <small><%= "#{t('contact.phone')}: #{@setting.contact_phone}" if !@setting.contact_phone.blank? %></small><br>
          <small><%= "#{t('contact.email')}: #{@setting.contact_email}" if !@setting.contact_email.blank? %></small>
        <% end %>
      </div>
      <div class="social">
        <% if @setting && !@setting.facebook.blank? %>
          <a href="<%= @setting.facebook %>" target="_blank">
            <i class="fa fa-facebook-official"></i>
          </a>
        <% end %>
        <% if @instagram && @instagram.access_token %>
          <a href="https://www.instagram.com/<%= @instagram.username %>" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        <% end %>
      </div>
      <div class="creator">
        <small>Copyright © <%= Time.now.year %> <a href="https://www.facebook.com/kostya.smirnov.7" target="_blank">Konstantin Smirnov</a>. All Rights Reserved.</small>
      </div>
    </div>
  </footer>
</div>
