  <!-- SECTION HERO SLIDER -->
  <div class="row">
    <div id="hero-slider">
      <% @hero_carousel_slides.each do |slide| %>
        <div>
          <%= image_tag slide.image.url(:cover), class: 'img-fluid' %>
          <div class="slider-caption">
            <h1><%= slide.title %></h1>
            <p><%= slide.subtitle %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!-- END SECTION HERO SLIDER -->

  <!-- SECTION ABOUT ME -->
  <% if @about %>
    <div class="row">
      <div id="about-me-section">
        <div class="">
          <div class="about-portrait">
            <%= image_tag @about.portrait.url(:normal) %>
          </div>
          <div class="description">
            <h2 class="text-center"><%= @about.title %></h2>
            <p><%= simple_format @about.text %></p>
            <div class="text-center">
              <%= image_tag @about.signature.url(:normal), class: 'signature' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <!-- END SECTION ABOUT ME -->

  <!-- RECENT PROJECTS -->
  <% if @portfolio %>
    <div class="row">
      <div id="projects-section">
        <h2 class="text-center"><%= @portfolio.home_title %></h2>
        <% @portfolio.projects.each do |project| %>
          <div class="col-6 col-md-3 project-preview animated">
            <%= link_to project_path(project, go_back_page: 'home_page') do %>
              <div class="overlay">
                <h3 class="text-center"><%= project.title %></h3>
              </div>
            <% end %>
            <%= image_tag project.photos.first.image.url(:thumb), class: 'img-fluid', alt: project.photos.first.alt if project.photos.any? %>
          </div>
        <% end %>
        <div class="action-button text-center">
          <%= link_to 'Portfolio', categories_path, class: 'btn btn-default-dark btn-lg' %>
        </div>
      </div>
    </div>
  <% end %>
  <!-- END RECENT PROJECTS -->

  <!-- OPINIONS -->
  <% if @opinions.any? %>
    <div class="row">
      <div id="slick-opinions-header">
        <h2 class="text-center">Opinions</h2>
      </div>
      <div id="opinions-section">
        <% @opinions.each do |opinion| %>
          <div class="opinion">
            <div class="col-md-12">
              <div class="col-12 col-md-4">
                <%= image_tag opinion.image.url(:thumb), class: 'img-fluid mx-auto d-block' %>
              </div>
              <div class="col-md-8">
                <p><%= opinion.text %></p>
                <i><%= opinion.author %></i>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <!-- END OPINIONS -->

  <!-- INSTAGRAM -->
  <% if @instagram && @instagram.access_token %>
    <div class="row" id="instagram-section">
        <div class="col-md-4" >
          <div class="capture">
            <h2>Instagram</h2>
            <p><%= simple_format @instagram.text %></p>
            <a href="https://www.instagram.com/<%= @instagram.username %>" class="btn btn-default-dark btn-lg" target="_blank">Profile</a>
          </div>
        </div>
        <div class="col-md-8 gallery">
          <% @last_instagram_fotos[0...-1].each do |instagram_foto| %>
            <div class="col-6 col-md-4 col-lg-3">
              <a href="<%= instagram_foto[0][:link] %>" target="_blank"><%= image_tag instagram_foto[0][:image], class: 'img-fluid instagram-image' %></a>
            </div>
          <% end %>
          <div class="col-6 col-md-4 col-lg-3 hidden-sm-down hidden-lg-up">
            <a href="<%= @last_instagram_fotos.last[0][:link] %>" target="_blank"><%= image_tag @last_instagram_fotos.last[0][:image], class: 'img-fluid instagram-image' %></a>
          </div>
        </div>
    </div>
  <% end %>
  <!-- END INSTAGRAM -->
