<div id="project-<%= project.id %>">
  <h3><%= project.title %></h3>
  <div class="project-gallery">
    <% project.photos.each do |photo| %>
      <div class="photo-thumbnail">
        <%= image_tag photo.image.url(:thumb) %>
      </div>
    <% end %>
  </div>
  <%= link_to 'Show', admin_project_path(project), class: 'btn btn-default-light' %>
  <%= link_to 'Delete', admin_project_path(project), class: 'btn btn-default-light', method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
</div>
