<% if !@portfolio.nil? %>
  <div class="row">
    <div class="col-md-12">
      <h3>Title: <%= @portfolio.title %></h3>
      <h3>Home page title: <%= @portfolio.home_title %></h3>
      <p><%= simple_format @portfolio.description %></p>
    </div>
  </div>
  <%= link_to 'Edit', edit_admin_portfolio_path, remote: true, class: 'btn btn-default-light btn-processable' %>
  <%= link_to 'Delete', admin_portfolio_path, method: :delete, data: { confirm: 'Are you sure? All your projects will be deleted!' }, class: 'btn btn-default-light' %>
  <hr>
  <h3>Categories</h3>
  <%= link_to 'Add category', new_admin_category_path, remote: true, class: 'btn btn-default-light' %>
  <div id="categories-list" data-update-url="<%= sort_admin_categories_url %>">
    <% @categories.each do |category| %>
      <%= render 'admin/categories/show', object: category %>
    <% end %>
  </div>
  <hr>
<% else %>
  <h3>Page is not created</h3>
  <%= link_to 'Create', new_admin_portfolio_path, class: 'btn btn-default-light btn-processable', remote: true %>
<% end %>
