<% if !@contact.nil? %>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @contact.image.url(:thumb), class: 'img-fluid' %>
    </div>
    <div class="col-md-8">
      <h3>Text</h3>
      <p><%= simple_format @contact.text %></p>
      <%= link_to 'Edit', edit_admin_contact_path, remote: true, class: 'btn btn-default-light btn-processable' %>
      <%= link_to 'Delete', admin_contact_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default-light' %>
    </div>
  </div>
<% else %>
  <h3>Page is not created</h3>
  <%= link_to 'Create', new_admin_contact_path, class: 'btn btn-default-light btn-processable', remote: true %>
<% end %>
