<h3>Update email</h3>

<%= simple_form_for current_user, url: admin_account_path(target: :email) do |f| %>
  <%= f.input :email, input_html: { id: 'update_email_email' }, error: false %>
  <%= f.input :password, input_html: { id: 'update_email_password' }, error: false %>

  <%= f.submit 'Update email', class: 'btn btn-default-light' %>
<% end %>

<hr>

<h3>Change password</h3>
<%= simple_form_for current_user, url: admin_account_path(target: :password) do |f| %>
  <%= f.input :password, input_html: { id: 'update_password_password' }, error: false %>
  <%= f.input :new_password, input_html: { id: 'update_password_new_password' }, error: false %>
  <%= f.input :new_password_confirmation, input_html: { id: 'update_password_new_password_confirmation' }, error: false %>

  <%= f.submit 'Update password', class: 'btn btn-default-light' %>
<% end %>

<hr>
