<div class="row">
  <div id="portfolio-page">
    <div class="col-md-12">
      <h2 class="text-center"><%= @portfolio.title %></h2>
      <p><%= simple_format @portfolio.description %></p>
    </div>
    <div class="col-sm-12" id="projects-section">
      <div class="row">
        <% if @categories.any? %>
          <div class="col-12 projects-categories">
            <%= link_to t('portfolio.all_categories'), categories_path, class: "category-link #{is_active_category?(nil)}" %>
            <% @categories.each do |category| %>
              <%= link_to category.title, category_path(category), class: "category-link #{is_active_category?(category.id)}" %>
            <% end %>
          </div>
        <% end %>
        <% @projects.each do |project| %>
          <div class="col-6 col-md-3 project-preview">
            <%= image_tag project.cover_photo.image.url(:thumb), class: 'img-fluid', alt: project.cover_photo.alt if project.cover_photo %>
            <%= link_to project_path(project) do %>
              <div class="overlay">
                <h5 class="text-center">
                  <%= project.date.strftime("- %Y  -") %>
                  <br><br>
                  <%= project.title %>
                </h5>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
