<div class="row">
  <div id="portfolio-page">
    <div class="col-md-12">
      <h2 class="text-center"><%= @portfolio.title %></h2>
      <p class="text-center"><%= @portfolio.description %></p>
    </div>
    <div class="col-sm-12" id="projects-section">
      <div class="row">
        <% if @portfolio.categories_with_projects.any? %>
          <div class="col-12 projects-categories">
            <%= link_to 'All', categories_path, class: "category-link #{is_active_category?(nil)}" %>
            <% @portfolio.categories_with_projects.each do |category| %>
              <%= link_to category.title, category_path(category), class: "category-link #{is_active_category?(category.id)}" %>
            <% end %>
          </div>
        <% end %>
        <% @projects.each do |project| %>
          <div class="col-6 col-md-3 project-preview">
            <%= link_to project_path(project) do %>
              <div class="overlay">
                <h3 class="text-center"><%= project.title %></h3>
              </div>
            <% end %>
            <%= image_tag project.photos.first.image.url(:thumb), class: 'img-fluid', alt: project.photos.first.alt if project.photos.any? %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
